* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  top: 0;
  position: sticky;
  color: #00ADB5;
  display: inherit;
  padding: 20px 30px;
  align-items: flex-end;
  background-color: #222831;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #EEE2DE;
}
.active {
  color: #00ADB5;
}
header {
  padding: 60px;
  display: flex;
  color: #00ADB5;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #393E46;
}
main {
  flex: 1;
  gap: 10px;
  padding: 10px;
  color: #222831;
  display: inherit;
  flex-direction: column;
  background-color: #EEE2DE;
}
footer {
  padding: 20px;
  display: flex;
  color: #00ADB5;
  align-items: center;
  justify-content: center;
  background-color: #393E46;
}
p > a {
  text-decoration: underline;
  font-weight: bold;
  color: #00ADB5;
}
button {
  gap: 10px;
  display: flex;
  color: #EEE2DE;
  padding: 10px 15px;
  width: fit-content;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  justify-content: center;
  border: 2px solid rgb(210, 210, 210);
}
.add {
  background-color: #00ADB5;
}
.delete {
  background-color: #ff5d5d;
}
.reset {
  background-color: #222831;
}
.back-to-top {
  right: 30px;
  width: 60px;
  bottom: 80px;
  height: 60px;
  cursor: pointer;
  position: fixed;
  border-radius: 100%;
  background-color: #393E46;
}
.back-to-top:hover{
  box-shadow: 0px 10px 25px -5px rgba(0,0,0,.8)
}
.container {
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.childern {
  display: inherit;
  align-items: center;
  flex-direction: inherit;
}
.content {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.button-no-fill {
  margin-top: 10px;
}
.button-no-fill a {
  padding: 10px;
  cursor: pointer;
  color: #00ADB5;
  font-weight: 600;
  width: fit-content;
  border-radius: 3px;
  text-decoration: none;
  border: 2px solid #00ADB5;
}
.about {
  width: 60%;
  margin: 10px 0 0 10px;
}
.highlighter {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  align-self: center;
  justify-self: center;
}